@use "sass:map";

$z-indexes: (
	'max',
	'notice',
	'modal',
	'overlay',
	'pin',
	'block',
	'base',
	'hidden',
);

@function z($name) {
	@if index($z-indexes, $name) {
		@return (length($z-indexes) - index($z-indexes, $name))-1;
	}

	@else {
		@error 'Ключ `#{$name}` не найден. Доступные ключи:: #{$z-indexes}';
	}
}


$viewport: (
	max: 1440px,
	desktop: 1280px,
	laptop: 1024px,
	tablet: 768px,
	phone: 480px,
	min: 360px,
);


@function screen($name: "phone") {
	@if not map.has-key($viewport, $name) {
		@error "Ключ `#{$name}` не найден. Доступные ключи: #{map.keys($viewport)}";
	}

	@return map.get($viewport, $name);
}


$palette: (
	'white': #FFFFFF,
	'black': #282A2C,
	'orange':#F15A29,
	'green': #43875E,
	'red': #C83939,
	'gray': #808080,
);

@function palette($name) {
	@if not map.has-key($palette, $name) {
		@error "Ключ `#{$name}` не найден. Доступные ключи. Доступные цвета: #{map.keys($palette)}";
	}

	@return map.get($palette, $name);
}


$colors: (
	b: #000,
	w: #fff,
	plain: palette('white'),
	primary: palette('orange'),
	second: palette('gray'),
	heavy: palette('black'),
	danger: palette('red'),
	success: palette('green'),
);


@function hue($name: "b", $a: 1) {
	@if not map.has-key($colors, $name) {
		@error "Ключ `#{$name}` не найден. Доступные ключи: #{map.keys($colors)}";
	}

	@return rgba(map.get($colors, $name), $a);
}



// --------------------- set root color vars

:root {
	@each $key, $value in $colors {
		--clr-#{$key} : #{$value};
	}

	@each $key, $value in $viewport {
		--w-#{$key} : #{$value};
	}
}