@use "@/styles/global/vars.scss" as *;
@use "@/styles/global/mixins.scss" as *;
@use "@/styles/global/funcs.scss" as *;



:root {
	--header-h: 80px;
	--section-p: 80px;
}

body,
html {
	position: relative;
	color: hue(heavy);
}


body {
	overflow-x: hidden;
}