@use "@/styles/global/vars.scss" as *;
@use "@/styles/global/mixins.scss" as *;
@use "@/styles/global/funcs.scss" as *;

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 0;
	display: block;
	background-color: hue(plain);

	@include is('phone') {
		width: 3px;
		height: 3px;
	}
}

::-webkit-scrollbar-thumb {
	background: hue(primary);
	border-radius: 0;
}