:where(.link) {
	font-weight: 300;
	font-size: 18px;
	color: hue(second);
	display: inline-flex;
	align-items: center;
	gap: 0.2em;
	transition: color 0.2s;
	cursor: pointer;
}

.link {

	@include on-hover {
		color: hue(primary);
	}

	svg {
		font-size: 0.8em;
	}
}