:where(.link) {
	font-weight: 300;
	font-size: 18px;
	color: hue(second);
	display: inline-flex;
	align-items: center;
	gap: 0.3em;
	transition: color 0.2s;
	cursor: pointer;
	line-height: 0.8;
}

.link {

	@include on-hover {
		color: hue(primary);

		* {
			color: hue(primary);
		}

	}

	svg {
		transition: color 0.2s;
		font-size: 0.85em;
		translate: 0 -0.1em;
	}
}