.nav {
	display: inline-flex;
	gap: 10px;


	&[data-mode=footer] * {
		color: hue('plain');
	}

}


.link {
	padding: 0.2em 0.5em;
	white-space: nowrap;
	color: currentColor;

	* {
		transition: color 0.2s;
	}

	@include on-hover {
		* {
			color: hue(primary);
		}
	}

}