.wrap {
	@include sec-p;
	height: min(100vh, 900px);
	width: 100%;
}

.cont {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: end;
	align-items: center;
}

.preview {
	height: clamp(600px, 100%, 700px);
	left: 0;
	position: absolute;
	user-select: none;
	pointer-events: none;
	translate: -25% 5%;

	// opacity: 0;

}

.info {
	display: flex;
	flex-direction: column;
	gap: 35px;
	text-align: right;
	align-items: end;

	@include is('phone') {
		text-align: center;
	}
}

.text {
	color: hue('second')
}