.wrap {
	@include sec-p;
	height: min(100vh, 900px);
	width: 100%;


	h1 {

		@include is('phone') {
			font-size: 30px;
			text-align: center;
		}
	}
}

.cont {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: end;
	align-items: center;

	@include is('phone') {
		justify-content: center;
		align-items: end;
	}
}

.preview {
	height: 300px;
	left: 50%;
	top: 0;
	position: absolute;
	user-select: none;
	pointer-events: none;
	translate: -50% -5%;

	@include is('tablet', min) {
		left: 0;
		top: auto;
		height: clamp(600px, 100%, 700px);
		translate: -25% 5%;
	}

	// opacity: 0;

}

.info {
	display: flex;
	flex-direction: column;
	gap: 35px;
	text-align: right;
	align-items: end;

	@include is('phone') {
		text-align: center;
		align-items: center;
	}
}

.text {
	color: hue('second')
}