@mixin h-p {
	$p: 50px;

	padding: {
		right: $p;
		left: $p;
	}

	;
}

.wrap {
	background-color: hue(primary);
	border-radius: radius('M');
	overflow: hidden;
	transition: 0.3s;


	&[data-active] {
		padding-bottom: 30px;

		.preview svg {
			rotate: 135deg;
		}
	}
}



.preview {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	background-color: hue(primary);
	color: hue(plain);
	border: none;
	outline: none;
	@include h-p;
	cursor: pointer;

	svg {
		font-size: 40px;
		transition: 0.3s
	}
}

.title {
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
}

.content {
	@include h-p;
	background-color: hue(plain);
	color: hue(heavy);
	transition: 0.3s padding;
}


.text {
	padding: 30px 0;
	white-space: pre-line;
	hyphens: auto;
	text-align: justify;
}