.wrap {
	height: var(--header-h);
	position: sticky;
	top: 0;
	background-color: hue(plain);
	z-index: z('pin');
}


.grid {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4vw;
}



.nav {
	flex: 1;
}