.wrap {
	height: var(--header-h);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.3s height, 0.3s box-shadow;

	&[data-fixed] {
		background-color: hue(plain);
		z-index: z('pin');
		height: calc(var(--header-h) - 15px);
		box-shadow: 0 2px 12px hue(b, 0.15);
	}
}


.grid {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4vw;
}



.nav {
	flex: 1;
}