.wrap {
	@include sec-p;
	position: relative;
}


.container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	position: relative;
}


.info {
	display: flex;
	flex-direction: column;
	max-width: 780px;
	gap: 45px;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid hue(second);

	&__item {
		position: relative;
		cursor: pointer;
		user-select: none;
		transition: 0.2s color;
		padding: 0.5em 0.3em;

		@include on-hover {
			color: hue(primary);
		}

		.line {
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 4px;
			background-color: hue(primary);
			border-radius: 10px;
		}

		&[data-active] {
			pointer-events: none;
		}
	}
}


.menu {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__category {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 56px;
	}


	&__item {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid;
		padding: 14px 0px;
	}
}


.stars {
	position: absolute;
	top: 0;
	right: 0;
	translate: 55%;
}