.wrap {
	padding: 80px 0px;
	position: relative;
}


.container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	position: relative;
}


.info {
	display: flex;
	flex-direction: column;
	max-width: 780px;
	gap: 45px;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menuBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


.menuPositions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 56px;
}

.position {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
	padding: 14px 0px;
}

.stars {
	position: absolute;
	top: 0;
	right: 0;
	translate: 55%;
}