.wrap {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 20px;


	&[data-desktop] {
		gap: 20px 30px;
		grid-template-columns: 160px 1fr;

		.avatar {
			grid-row: span 3;
			border: 8px solid hue(primary);
			border-radius: radius(M);
			aspect-ratio: auto;
		}

		.text {
			grid-column: span 1;
		}

		.controlls {
			grid-column: span 1;
		}
	}
}

.avatar {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: radius(round);
	overflow: hidden;
	grid-row: span 1;
	background-color: hue(heavy);
	display: flex;
	justify-content: center;
	align-items: center;

	&[data-empty] {
		color: hue(second);
		border-color: currentColor;
	}

	svg {
		font-size: 100px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center top;
	}
}

.name {
	white-space: nowrap;
	overflow: hidden;
	line-height: 1.4;
	align-self: center;
}

.text {
	@include line-clamp(5);
	hyphens: auto;
	text-align: justify;
	height: calc(5em + 0.2em * 2);
	grid-column: span 2;
}

.controlls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: span 2;
}

.socials {
	display: flex;
	align-self: stretch;
	gap: 6px;
}


.icon {
	background-color: hue(primary);
	height: 100%;
	aspect-ratio: 1/1;
	color: hue('plain');
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: radius(round);
	font-size: 20px;
}