.wrap {
	background-color: hue(heavy);
	@include sec-p;
	color: hue(plain);
	border-top: 1px solid hue(second);

	[data-block] {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 12px;
	}
}


.logo {}

.grid {
	display: grid;
	grid-template-columns: 0.8fr 1fr 0.8fr;
	gap: 40px;
}


.nav,
.socials {
	align-self: center;
}


.date {
	grid-column: span 3;
	text-align: center;
	color: hue(second);
	margin-top: 30px;
	user-select: none;

	span {
		transition: 0.2s color;
		cursor: pointer;

		@include on-hover {
			color: hue(primary);
		}
	}
}