:where(.title) {
	font-weight: bold;
	line-height: 1;
	color: inherit;
	position: relative;
}

h1.title {
	font-size: 44px;
	line-height: 0.9;

	@include is('tablet', min) {
		font-size: 74px;
	}
}

h2.title {
	font-size: 36px;
	line-height: 0.9;

	@include is('tablet', min) {
		font-size: 64px;
	}
}

h3.title {
	font-size: 48px;
}

h4.title {
	font-size: 18px;
	line-height: 1.2;

	@include is('tablet', min) {
		font-size: 35px;
	}
}

h5.title {
	font-size: 14px;

	@include is('tablet', min) {
		font-size: 24px;
	}
}

h6.title {
	font-size: 20px;
}

.title {

	&[data-line] {
		padding-left: 0.3em;

		&::before {
			content: '';
			position: absolute;
			left: 0em;
			top: 50%;
			translate: 0 -55%;
			height: 120%;
			width: 0.16em;
			border-radius: radius(round);
			background-color: hue(primary);
		}

	}
}